<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Credit Card Detail</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="creditCard">
    <ion-row>
      <ion-col>
        Brand
      </ion-col>
      <ion-col  size="7">
        {{ creditCard.brand }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Country
      </ion-col>
      <ion-col size="7">
        {{ creditCard.country }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Expiry Month
      </ion-col>
      <ion-col size="7">
        {{ creditCard.exp_month }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Expiry Year
      </ion-col>
      <ion-col size="7">
        {{ creditCard.exp_year }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Address Line 1
      </ion-col>
      <ion-col size="7" *ngIf="creditCard.address_line1; else noRecord">
        {{ creditCard.address_line1 }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Address Line 2
      </ion-col>
      <ion-col size="7" *ngIf="creditCard.address_line2; else noRecord">
        {{ creditCard.address_line2 }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        City
      </ion-col>
      <ion-col size="7" *ngIf="creditCard.city; else noRecord">
        {{ creditCard.city }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        State
      </ion-col>
      <ion-col size="7" *ngIf="creditCard.state; else noRecord">
        {{ creditCard.state }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Country
      </ion-col>
      <ion-col size="7" *ngIf="creditCard.country; else noRecord">
        {{ creditCard.country }}
      </ion-col>
    </ion-row>
    <ng-template #noRecord>
      <ion-col size="7">
        No Record
      </ion-col>
    </ng-template>
  </ion-grid>
</ion-content>
